# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example  # Пример конфигурации можно коммитить

# Python cache and build files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/